<form method="POST">
    {% csrf_token %}
    <table>
        <tbody>
        <tr>
            <td>{{form.name.label}}: {{form.name}}</td>
        </tr>
        <tr>
            <td>{{form.age.label}}: {{form.age}}</td>
        </tr>       
    </tbody>
    </table>
    <button type="submit">Send</button>
</form>

<form action="{% url 'contactPage' %}" method="POST" novalidate>
    {% csrf_token %}
    <table border="1">
        {{ form }}
    </table>
    <button type="submit">Submit</button>
</form>

{% comment %}
{% endcomment %}